<h1>Top#home</h1>
<%= link_to "Salon Sign_in", new_salon_session_path %> | <%= link_to "Salon Sign_up", new_salon_registration_path %><br/>
<%= link_to "Stylist Sign_in", new_stylist_session_path %> | <%= link_to "Stylist Sign_up", new_stylist_registration_path %>