= link_to 'サロン　ログイン', new_salon_session_path
br
= link_to 'サロン　新規登録', new_salon_registration_path
br
= link_to 'スタイリスト　ログイン', new_stylist_session_path
br
= link_to 'スタイリスト　新規登録', new_stylist_registration_path