h1
  | Admin::Salons#show
= link_to 'サロン情報編集',  edit_admin_salon_path
= link_to 'Email/パスワード変更', edit_customer_registration_path
= link_to 'DELETE', destroy_customer_session_path, method: :delete, data:{confritm: "Sign out?"}
br
|  Name: 
= @salon.name
br
|  Category: 
= @salon.category_id
br
|  Prefecture: 
= @salon.prefecture.name
br
|  Email: 
= @salon.email
br
|  TEL: 
= @salon.tel
br
|  Features: 
= @salon.features
br
|  Num_Of_Sheets: 
= @salon.num_of_sheets
br
