h1
  = current_customer.name
p
  | Find me in app/views/users/show.html.erb
= link_to "Log_out", destroy_customer_session_path, method: :delete
br
|  Name: 
= current_customer.name
br
|  Email: 
= current_customer.email
br
|  TEL: 
= current_customer.tel
br
